/* Root variables for easier color and style customization */
:root {
  --body-bg-color: rgb(243, 243, 243);
  --inbox-bg-color: rgb(255, 255, 255);
  --inbox-ctg-color: rgb(177, 39, 39);
}

/* Universal reset to eliminate default padding, margin, and border-box model */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Ensures border and padding do not affect element width/height */
}

/* Basic body styles, 1rem = 16px */
body {
  background-color: var(--body-bg-color);
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inbox-header {
  background-color: var(--inbox-bg-color);
  width: 85%;
  margin-bottom: 1.25rem;
  border-radius: 0.313rem;
}

.inbox-header__nav-list {
  display: flex;
  gap: 1.25rem;
}

.inbox-header__nav-item {
  padding: 0.5rem;
  font-weight: bold;
  list-style: none;
}

.inbox-header__nav-item:first-of-type {
  color: var(--inbox-ctg-color);
  border-bottom: 0.188rem solid var(--inbox-ctg-color);
  border-radius: 0 0 0 0.313rem;
}